:root {
  --dark-font-color: #212121;
  --company-blue: #2196f3;
  --main-font-color: #757575;
  --opaque-bg-color: #2f303a66;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --list-border-color: #eeeeee;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --icon-border: #afb1b8;
  --black-opaque: rgba(255, 255, 255, 0.1);
  --grey-opaque: rgba(47, 48, 58, 0.8);
  --blue-opaque: rgba(33, 150, 243, 0.9);
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto";
  color: var(--main-font-color);
}

ul {
  padding: 0;
  list-style: none;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
.container > * {
  margin: 0 auto;
  width: fit-content;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  transition-property: visibility, opacity;
  transition-duration: 0.25s;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white-color) url("../images/icons/close.svg") no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 8px;
  left: 490px;
}

.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
}

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.order > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-font-color);
  margin: 0px auto 12px;
}

.order__label {
  width: 448px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1;
  position: relative;
}

.form__icon {
  width: 13px;
  height: 13px;
  fill: #000000;
  position: absolute;
  top: 31px;
  left: 15px;
  transition-property: fill, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order__label:focus-within .form__icon {
  fill: var(--company-blue);
}

.order__label:focus-within .form__input {
  outline: none;
  border-color: var(--company-blue);
}
.order__label:focus-within .order__text {
  outline: none;
  border-color: var(--company-blue);
}

.order > label:nth-child(-n + 4) > input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
}

.order__text {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
  font-size: 12px;
  line-height: 1.17;
}

.order-submit {
  width: 200px;
  height: 50px;
  background: var(--company-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 30px;
}

.policy-label {
  margin-left: 15px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  position: relative;
  width: 448px;
}

.policy-check {
  height: 16px;
  width: 16px;
  cursor: pointer;
  appearance: none;
}
.policy-label::before {
  display: block;
  position: absolute;
  left: -23px;
  top: 4px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-font-color);
  border-radius: 3px;
  transition-property: border, background-image;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.policy-check:checked + .policy-label::before {
  border: none;
  background-image: url("../images/icons/check.svg");
}
.footer__form {
  width: 575px;
  margin-left: 78px;
  display: flex;
  flex-wrap: wrap;
}

.newsletter__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;
  background-color: transparent;
}

.newsletter__submit {
  width: 200px;
  height: 50px;
  background: var(--company-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: white;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  margin-left: 12px;

  position: relative;
}

.newsletter__label {
  width: 358px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header > .container {
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
}

.container > .header__content-box {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.title > .container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(
      to bottom,
      var(--opaque-bg-color) 0%,
      var(--opaque-bg-color) 100%
    ),
    url(../images/Background-1.jpg);
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
}

.content__icon {
  background-color: var(--light-background-color);
  border-radius: 4px;
}

.header__logo-nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* margin-left: 215px; */
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__header {
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.title__button {
  width: 200px;
  height: 50px;

  background: var(--company-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  font-weight: 700;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.title__button:hover {
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo--header {
  margin-right: 93px;
  color: var(--black-color);
}

.logo--footer {
  margin-bottom: 20px;
  color: var(--white-color);
}

.logo__web {
  color: var(--company-blue);
}

.nav__item {
  display: inline;
  margin-right: 40px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--dark-font-color);
}

.nav__link--current {
  color: var(--company-blue);
  position: relative;
}

.nav__link--current::after {
  border-radius: 4px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--company-blue);
  display: inline-block;
  position: absolute;
  top: 45px;
  left: 0;
}

.mail {
  text-decoration: none;
  color: var(--main-font-color);
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.mail:hover {
  color: var(--company-blue);
  cursor: pointer;
}

.mail__icon {
  fill: var(--main-font-color);
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.mail:hover > .mail__icon,
.mail:focus > .mail__icon {
  fill: var(--company-blue);
}

.mail:focus {
  color: var(--company-blue);
}

.phone {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  color: var(--mian-font-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.phone__number {
  margin-left: 10px;
}

.mail__address {
  margin-left: 10px;
}

.phone:hover {
  color: var(--company-blue);
  cursor: pointer;
}

.phone:focus {
  color: var(--company-blue);
}

.phone__icon {
  fill: var(--main-font-color);
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.phone:hover .phone__icon,
.phone:focus .phone__icon {
  fill: var(--company-blue);
}

.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.content__list {
  list-style-type: none;
}

.content__list {
  display: flex;
  gap: 30px;
}

.content__header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--dark-font-color);
}
.content__p {
  width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.scope {
  padding-bottom: 94px;
}

.scope__header {
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-font-color);
}

.scope__list {
  list-style-type: none;
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.scope__list > .scope__box > li:first-child {
  margin-left: 0;
}

.scope__box {
  width: 370px;
  height: 294px;
  position: relative;
}

.scope__box > p {
  background: var(--grey-opaque);
  color: var(--white-color);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: var(--light-background-color);
}

.team__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  /* margin-left: 215px; */
  margin-top: 50px;
}

.team__header {
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-font-color);
}

.team__item {
  width: 270px;
  /* height: 368px; */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-font-color);
}

.team__job {
  font-weight: 400;

  text-align: center;
  letter-spacing: 0.03em;
}

.team__sm {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.team__sm > li {
  margin: 0;
}
.team__icon {
  fill: var(--icon-color);
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.team__sm > li:first-child {
  margin-left: 32px;
}

.team__link:hover > .team__icon,
.team__link:focus > .team__icon {
  fill: white;
  background-color: var(--company-blue);
}

.customers > .container {
  /* padding: 94px 0 94px 215px; */
  padding: 94px 0;
}

.customers__header {
  margin: 0 auto 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-font-color);
}

.customers__list {
  display: flex;
  gap: 30px;
}

.customers__icon {
  border: 1px solid var(--icon-border);
  border-radius: 4px;
  fill: var(--icon-color);
  transition-property: fill, border-color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}
.customers__icon:hover,
.customers__link:focus > .customers__icon {
  fill: var(--company-blue);
  border-color: var(--company-blue);
  cursor: pointer;
}

.footer {
  background: var(--dark-background-color);
}

.footer > .container > .footer__content {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: flex-start;
  padding: 60px 0;
}

.footer__list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.footer__list > li {
  margin: 10px 0;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;

  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer__mail {
  text-decoration: none;
  color: var(--mian-font-color);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.footer__mail:hover {
  color: var(--company-blue);
}

.footer__mail:focus {
  color: var(--company-blue);
}

.footer__phone {
  text-decoration: none;
  color: var(--mian-font-color);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.footer__phone:hover {
  color: var(--company-blue);
}

.footer__phone:focus {
  color: var(--company-blue);
}

.socials {
  display: inline;
  margin-left: 70px;
}

.socials__header {
  text-transform: uppercase;
  color: var(--white-color);
}

.socials__list-icons {
  display: flex;
  gap: 10px;
}

.socials__icon {
  fill: var(--white-color);
  background-color: var(--black-opaque);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.socials__icon:hover,
.socials__link:focus > .socials__icon {
  background-color: var(--company-blue);
  cursor: pointer;
}

.newsletter__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  /* margin-left: 24px;
                                                                margin-top: 13px; */
}

.newsletter__button-text {
  position: absolute;
  top: 10px;
  left: 42px;
}

.filters {
  list-style-type: none;
  justify-content: center;
  padding-inline-start: 0;
  margin-bottom: 50px;
}
.filters__item {
  display: inline;
  margin-left: 8px;
}
.filters__item:first-child {
  margin-left: 0;
}

.filters__buttons {
  width: 121px;
  height: 38px;

  background: var(--light-background-color);
  border-radius: 4px;

  font-weight: 500;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;

  color: var(--dark-font-color);

  transition-property: background-color, box-shadow, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.filters__buttons:hover,
.filters__buttons:focus {
  background: var(--company-blue);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  color: var(--white-color);
}

.products {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.products__item {
  width: 370px;
  height: 404px;
  position: relative;
  border: 1px solid var(--list-border-color);
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}
.products__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__item:hover .products__box {
  transform: translate(0, 0);
}

.products__container {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.products__box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 370px;
  height: 294px;
  justify-content: center;
  align-items: center;
  background: var(--blue-opaque);
  transform: translate(0, 300px);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);
}

.products__box > p {
  width: 301px;
  margin: 0 auto;

  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
}

.products__name {
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0px 8px 24px;

  letter-spacing: 0.06em;

  color: var(--dark-font-color);
}

.products__tag {
  font-weight: 400;
  margin-left: 24px;
  letter-spacing: 0.03em;
}
