@use "../utils/variables";


.content {
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-font-color);
  }

  &__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    width: 450px;
  }

  &__icon {
    background-color: var(--light-background-color);
    border-radius: 4px;
    width: 450px;
    height: 120px;
  }
}

@media screen and (min-width: variables.$tabletWidth) {
.content {
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    justify-content: center;
    gap: 30px;
  }

  &__header {
    text-align: left;
  }

  &__p {
    width: 354px;
  }

  &__icon {
    width: 354px;
    height: 120px;
  }
}
}

@media screen and (min-width: variables.$desktopWidth) {
.content {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    gap: 30px;
  }

  &__p {
    width: 270px;
  }

  &__icon {
    width: 270px;
  }
}
}

