@use "../utils/variables";

.main .filters {
  width: 450px;
}

.filters {
  display: flex;  
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  justify-content: flex-start;
  padding-inline-start: 0;
  padding: 0 0 40px;
  
  &__buttons {
    width: 121px;
    height: 38px;
    background: var(--light-background-color);
    border-radius: 4px;

    font-weight: 500;

    text-align: center;
    letter-spacing: 0.03em;
    border: none;

    color: var(--dark-font-color);

    transition-property: background-color, box-shadow, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--transition-timing);
    &:focus {
      background: var(--company-blue);

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

      cursor: pointer;
      color: var(--white-color);
    }
    &:hover {
      background: var(--company-blue);

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

      cursor: pointer;
      color: var(--white-color);
    }
  }
}


@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)) {
  .main .filters {
    flex-wrap: nowrap;
    justify-content: center;
    width: calc(variables.$tabletWidth - 30px);
    padding-bottom: 30px;
  }
}

@media screen and (min-width: variables.$desktopWidth) {
  .main .filters {
    flex-wrap: nowrap;
    justify-content: center;
    width: calc(variables.$desktopWidth - 30px);
  }

  .filters {
    justify-content: center;
    padding-inline-start: 0;
  
    &__item {
      display: inline;
      margin-left: 8px;
      &:first-child{
        margin-left: 0;
      }
    }
}
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: variables.$desktopWidth) {
  .main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

