@use "./logo";
@use "../utils/variables";

.nav {

  display: none;

} 

.header {
  
  border-bottom: 1px solid var(--header-border);
  
  .container {
    // border-bottom: 1px solid var(--header-border);
  }
  

  & .contact {
    display: none;
  }

  .menu {
    background-color: aqua;
    position: relative;
  }

  .menu__icon {
    fill: black;
    position: relative;
    top: 0;
    left: 0;
    &:hover {
      fill: var(--company-blue);
      cursor: pointer;
    }
  }

  & > .container {
    height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    & > .header__content-box {
      min-width: 320px;
      width: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo-nav-box {
    min-width: 320px;
      width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)) {
  .header {
    & .logo {
      margin-right: 0;
    } 

    & >.container > .header__content-box {
      width: calc(variables.$tabletWidth - 30px);
    }

    &__logo-nav-box {
      justify-content: space-between;
    }

    & .contact {
      display: flex;
    }

    & .contact {
      display: flex;
      flex-direction: column;

      gap: 10px;
      & > a {
        width: 100%;
      }
    }

    &__logo-nav-box {
      width: 738px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

}
}

@media screen and (min-width: variables.$desktopWidth){
  .header {
    & .logo {
      margin-right: 0;
    } 

    & >.container > .header__content-box {
      width: calc(variables.$desktopWidth - 30px);
    }

    &__logo-nav-box {
      justify-content: space-between;
    }

    & .contact {
      display: flex;
    }

    & .contact {
      display: flex;
margin-left: 270px;
    }
  
    &__logo-nav-box {
      width: calc(variables.$desktopWidth - 30px);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

}
}


  


@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)) {
  .nav {

    display: flex;
    
  &__item {
    display: inline;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--dark-font-color);
  }

  &__link--current {
    color: var(--company-blue);
    position: relative;
    &::after {
      border-radius: 4px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--company-blue);
      display: inline-block;
      position: absolute;
      top: 45px;
      left: 0;
    }
  }
} 
}

@media screen and (min-width: variables.$desktopWidth){
  .nav {

    display: flex;
    
  &__item {
    display: inline;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--dark-font-color);
  }

  &__link--current {
    color: var(--company-blue);
    position: relative;
    &::after {
      border-radius: 4px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--company-blue);
      display: inline-block;
      position: absolute;
      top: 45px;
      left: 0;
    }
  }
} 
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail {
  text-decoration: none;
  color: var(--main-font-color);
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);

  &:hover {
    color: var(--company-blue);
    cursor: pointer;
  }

  &__icon {
    fill: var(--main-font-color);
    transition-property: fill;
    transition-duration: 0.25s;
    transition-timing-function: var(--transition-timing);
  }
  &:hover > .mail__icon {
    fill: var(--company-blue);
  }
  &:focus > .mail__icon {
    fill: var(--company-blue);
  }

  &:focus {
    color: var(--company-blue);
  }

  &__address {
    margin-left: 10px;
  }
}

@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)) {
  .mail {
    margin: 0;
  }
}

.phone {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--mian-font-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing);

  &__number {
    margin-left: 10px;
  }

  &:hover {
    color: var(--company-blue);
    cursor: pointer;
  }

  &:focus {
    color: var(--company-blue);
  }

  &__icon {
    fill: var(--main-font-color);
    transition-property: fill;
    transition-duration: 0.25s;
    transition-timing-function: var(--transition-timing);
  }

  &:hover .phone__icon {
    fill: var(--company-blue);
  }

  &:focus .phone__icon {
    fill: var(--company-blue);
  }
}
