@use "../utils/variables";

.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--light-background-color);
  
 
  & .team__list {
    list-style-type: none;
    display: flex;
    gap: 30px;

    margin-top: 50px;
  }

  &__header {
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-font-color);
  }

  &__item {
    width: 450px;
    /* height: 368px; */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-color);
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-font-color);
  }

  &__job {
    font-weight: 400;

    text-align: center;
    letter-spacing: 0.03em;
  }

  &__sm {
    display: flex;
    justify-content: center;
    gap: 10px;
    & > li {
      height: 44px;
    }
  }

  &__icon {
    fill: var(--icon-color);
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 0.25s;
    transition-timing-function: var(--transition-timing);
  }

  &__link:hover > .team__icon {
    fill: white;
    background-color: var(--company-blue);
  }

  &__link:focus > .team__icon {
    fill: white;
    background-color: var(--company-blue);
  }

  &__img {
    object-fit: cover;
  }
}

@media screen and (min-width: variables.$mobileWidth) and (max-width: calc(variables.$tabletWidth - 1px)) {
 .team {
  & .team__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    width: 450px;
    height: 460px;
  }

 }
}

@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)){
 .team {
  & .team__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 354px;
  }

  &__img {
    width: 354px;
    height: 374px;
  }

 }
}

@media screen and (min-width: variables.$desktopWidth) {
 .team {

  padding-top: 94px;
  padding-bottom: 94px;

  & .team__list {
    justify-content: center;
  }

  &__item {
    width: 270px;
  }

  &__img {
    width: 270px;
    height: 260px;
  }
 }
}

