@use "../utils/variables";


  .title {

    background-color: var(--dark-background-color);
    & .title__header {
      min-width: 320px;
      width: auto;
      color: white;

      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;

      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    
    & > .container {
      min-width: 320px;
      width: auto;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      
      background-image: linear-gradient(
          to bottom,
          var(--opaque-bg-color) 0%,
          var(--opaque-bg-color) 100%
        ),
        url(../images/Background-1-1600.jpg);
      background-position: 50% 50%;
      background-size: cover;
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .container > .title__button {
    width: 200px;
    height: 50px;

    background: var(--company-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: var(--white-color);
    font-weight: 700;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
      text-decoration: underline;
    cursor: pointer;
    background: var(--dark-blue);
    }
    &:focus {
      text-decoration: underline;
    cursor: pointer;
    background: var(--dark-blue);
    }
  }


@media screen and (min-width: variables.$tabletWidth) and (max-width: calc(variables.$desktopWidth - 1px)) {
  .title {
    & > .container {
      min-width: variables.$tabletWidth;
    }
}
}

@media screen and (min-width: variables.$desktopWidth){
  .title {
    background-color: var(--dark-background-color);
    & .title__header {
      width: 696px;
      height: 120px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;

      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white-color);
    }
    & > .container {
      height: 600px;
      max-width: 1600px;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .title {

      & > .container {
        background-image: linear-gradient(
            to bottom,
            var(--opaque-bg-color) 0%,
            var(--opaque-bg-color) 100%
          ),
          url(../images/Background-1-3200.jpg);
      }
    }
  }
