:root {
  --dark-font-color: #212121;
  --company-blue: #2196f3;
  --main-font-color: #757575;
  --opaque-bg-color: #2f303a66;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --list-border-color: #eeeeee;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --icon-border: #afb1b8;
  --black-opaque: rgba(255, 255, 255, 0.1);
  --grey-opaque: rgba(47, 48, 58, 0.8);
  --blue-opaque: rgba(33, 150, 243, 0.9);
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --dark-blue: rgb(53, 90, 255);
}
